.container {

    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-d);
    gap: 10px;
    padding: 20px;
    border-radius: 6px;

    .top {
        display: flex;   
        gap: 10px;
        align-items: center;
        justify-content: space-between;
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .title {
        height: 32px;
        line-height: 32px;
        font-weight: bold;
        padding: 0 15px;
        border-radius: 6px 0 0 6px;
        background-color: var(--color-grey-e);
    }
}
